.header {
    width: 100%;
    margin-top: 15px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_logo {
            width: 50%;
            @extend %displayFlex;
            &----navbar {
                &---list {
                    @extend %list;
                    width: 370px;
                    &--item {
                        &-link {
                            @extend %link;
                            font-weight: 600;
                            font-size: 17px;
                            line-height: 27px;
                            color: black;
                        }
                        &-link:hover {
                            color: #2D76F9;
                        }
                    }
                }
            }
        }
        &_aboutApp {
            &--link {
                @extend %link;
                color: #2D76F9;
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                border: 2px solid #2D76F9;
                padding: 10px 35px;
                border-radius: 30px;
            }
        }
        &_meno {
            display: none;
            width: 45px;
            height: 45px;
            border: 2px solid #2D76F9;
            border-radius: 5px;
            &-span {
                margin: 8px auto;
                width: 30px;
                height: 3px;
                display: block;
                background-color: #2D76F9;
            }
        }
    }
}

@media only screen and (max-width:992px) {
    .header {
        width: 100%;
        margin-top: 10px;
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &_logo {
                width: 65%;
                &----navbar {
                    &---list {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 300px;
                        &--item {
                            &-link {
                                text-decoration: none;
                                font-weight: 600;
                                font-size: 15px;
                                line-height: 27px;
                                color: black;
                            }
                            &-link:hover {
                                color: #2D76F9;
                            }
                        }
                    }
                }
            }
            &_aboutApp {
                &--link {
                    // display: none;
                    text-decoration: none;
                    color: #2D76F9;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27px;
                    border: 2px solid #2D76F9;
                    padding: 10px 25px;
                    border-radius: 30px;
                }
            }
            &_meno {
                display: none;
                width: 45px;
                height: 45px;
                border: 2px solid #2D76F9;
                border-radius: 5px;
                &-span {
                    margin: 8px auto;
                    width: 30px;
                    height: 3px;
                    display: block;
                    background-color: #2D76F9;
                }
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .header {
        width: 100%;
        margin-top: 10px;
        &__inner {
            display: flex;
            justify-content: space-around;
            align-items: center;
            &_logo {
                width: 100%;
                &----navbar {
                    &---list {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 220px;
                        &--item {
                            &-link {
                                text-decoration: none;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 27px;
                                color: black;
                            }
                        }
                    }
                }
            }
            &_aboutApp {
                &--link {
                    display: none;
                }
            }
            &_meno {
                display: none;
            }
        }
    }
}

@media only screen and (max-width:576px) {
    .header {
        width: 100%;
        margin-top: 10px;
        &__inner {
            padding: 0 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &_logo {
                width: 50%;
                &----navbar {
                    display: none;
                }
            }
            &_aboutApp {
                &--link {
                    display: none;
                    text-decoration: none;
                    color: #2D76F9;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 27px;
                    border: 2px solid #2D76F9;
                    padding: 6px 20px;
                    border-radius: 30px;
                }
            }
            &_meno {
                display: block;
                width: 35px;
                height: 37px;
                border: 2px solid #2D76F9;
                border-radius: 5px;
                &-span {
                    margin: 6px auto;
                    width: 25px;
                    height: 3px;
                    display: block;
                    background-color: #2D76F9;
                }
            }
        }
    }
}