.various {
    width: 100%;
    margin: 150px auto;
    &__inner {
        width: 100%;
        background-image: url(../../images/halqa.png);
        background-color: #2170FF;
        background-repeat: no-repeat;
        border-radius: 50px;
        &_info {
            max-width: 750px;
            padding: 100px 0 0;
            font-weight: 600;
            font-size: 36px;
            line-height: 65px;
            text-align: center;
            color: #FFFFFF;
            margin: 0 auto;
        }
        &_links {
            margin-top: 90px;
            @extend %displayFlex;
            width: 500px;
            margin: 0 auto;
            padding-bottom: 100px;
            &--link {
                margin-top: 90px;
                padding: 24px 53px;
                @extend %link;
                border: 2px solid #ffff;
                border-radius: 50px;
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
            }
            &--link:hover {
                background-color: white;
                color: #2170FF;
            }
        }
    }
}